<style>
  label {
    font-size: 1.25rem;
  }
</style>

<div style="background: rgba(252, 186, 18, 0.1); padding-bottom: 3rem">
  <h1 style="color: #224855; margin-left: 2rem; padding-top: 1rem">
    Upload Prescription
  </h1>
  <div
    class="container-sm col-sm-8 mt-4"
    style="
      border: none;
      border-radius: 2rem;
      background: rgba(0, 114, 145, 0.4);
      padding-top: 1.5rem;
      padding-bottom: 2rem;
      padding-right: 1rem;
      padding-left: 1rem;
    "
  >
    <fieldset>
      <legend style="font-size: 2rem">Patient Details</legend>
      <hr />
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="ptname" class="form-label">Name :</label>
          <input
            type="text"
            class="form-control"
            id="ptname"
            value="{{presdata.ptname}}"
            disabled
            readonly
          />
        </div>
        <div class="col-sm-6">
          <label for="ptmobile" class="form-label">Mobile :</label>
          <input
            type="text"
            class="form-control"
            id="ptmobile"
            value="{{presdata.ptphone}}"
            disabled
            readonly
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="ptage" class="form-label">Age :</label>
          <input
            type="text"
            class="form-control"
            id="ptage"
            value="{{presdata.ptage}}"
            disabled
            readonly
          />
        </div>
        <div class="col-sm-6">
          <label for="ptDob" class="form-label">Date of Birth :</label>
          <input type="text" class="form-control" id="ptdob" value="{{presdata.ptdob}}" disabled readonly />
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend style="font-size: 2rem; margin-top: 1.5rem">
        Medication Details
      </legend>
      <hr />
      <div class="row mb-4">
        <div class="col-sm-4">
          <label for="apDate" class="form-label">Appointment Date :</label>
          <input
            type="date"
            class="form-control"
            id="apDate"
            placeholder=""
            ng-model="aptdate"
          />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-sm-12">
          <label for="medicine" class="form-label"
            >Medication Name, Dosage & Frequency :</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="6"
            ng-model="medname"
            style="resize: none"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-text">Required<br />Lab Tests</span>
            <textarea
              class="form-control"
              aria-label=""
              rows="5"
              style="resize: none"
              ng-model="addinfo"
            ></textarea>
          </div>
        </div>
      </div>
    </fieldset>
    <center>
      <button
        type="button"
        class="btn btn-warning btn-lg"
        style="margin-top: 2rem"
        ng-click="drupload($index)"
      >
        Upload Prescription
      </button>
    </center>
  </div>
</div>
