<style>
  label {
    font-size: 1.25rem;
  }
</style>
<div style="background: rgba(0, 114, 145, 0.2);">
  <center>
    <h1
      style="
        color: #224855;
        margin-left: 2rem;
        padding-top: 0.5rem;
        font-size: 4rem;
      "
    >
      Register Here
    </h1>
  </center>
  <div
    class="container-sm col-sm-8"
    style="
      padding-bottom: 2rem;
      border: none;
      border-radius: 1rem;
      background: white;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    "
  >
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label for="formGroupExampleInput" class="form-label"
          >Full Name :</label
        >
        <input
          type="text"
          class="form-control"
          id="fname"
          placeholder=" Enter your Full Name here"
          ng-model="fname"
        />
      </div>
      <div class="col-sm-6 mb-3">
        <label for="formGroupExampleInput" class="form-label"
          >Date of Birth:</label
        >
        <input type="date" class="form-control" id="dob" ng-model="dob" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label for="formGroupExampleInput" class="form-label">Gender:</label>
        <select
          class="form-select"
          aria-label="Default select example"
          ng-model="gender"
        >
          <option value="" hidden>Select One</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Other</option>
        </select>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="formGroupExampleInput" class="form-label">Age:</label>
        <input
          type="number"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Enter your Age"
          ng-model="age"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" ng-model="email" />
      </div>
      <div class="col-sm-6">
        <label for="username" class="form-label">Username:</label>
        <input
          type="text"
          class="form-control"
          id="username"
          aria-describedby="userHelp"
          ng-model="username"
        />
        <div id="userHelp" class="form-text">Create your Unique Username.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label for="password" class="form-label">Password</label>
        <i class="fa-solid fa-eye"></i>
        <input
          type="password"
          class="form-control"
          id="password"
          ng-model="password"
        />
      </div>
      <div class="col-sm-6">
        <label for="password" class="form-label">Confirm Password</label>
        <i class="fa-solid fa-eye"></i>
        <input
          type="password"
          class="form-control"
          id="drpass"
          ng-model="cnfrmpassword"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <label for="formGroupExampleInput" class="form-label"
          >Aadhar Number:</label
        >
        <input
          type="text"
          class="form-control"
          id="adn"
          placeholder="Enter you Aadhar Number"
          ng-model="adn"
        />
      </div>
      <div class="col-sm-6">
        <label for="formGroupExampleInput" class="form-label"
          >Occupation :</label
        >
        <div>
          <select
            class="form-select"
            aria-label="Default select example"
            ng-model="occupation"
          >
            <option value="" hidden>Select Occupation</option>
            <option value="Student">Student</option>
            <option value="Bussinessman">Bussinessman</option>
            <option value="Self-employed">Self-employed</option>
            <option value="Homemaker">Homemaker</option>
            <option value="Government Employee">Government Employee</option>
            <option value="Defence sector">Defence Sector</option>
          </select>
        </div>
      </div>
    </div>
    <fieldset>
      <legend>Contact Info:</legend>
      <div class="row">
        <div class="col-sm-8 mb-3">
          <label for="mobile" class="form-label">Mobile No:</label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">+91</span>
            <input
              type="tel"
              class="form-control"
              id="mobile"
              placeholder="Enter Your Mobile Number"
              aria-label="Username"
              aria-describedby="addon-wrapping"
              ng-model="mobile"
              minlength="10"
              maxlength="10"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mb-3">
          <label for="inputAddress" class="form-label">Address:</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
            ng-model="address"
          />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-sm-3">
          <label for="city" class="form-label">City:</label>
          <input type="text" class="form-control" id="city" ng-model="city" />
        </div>
        <div class="col-sm-4">
          <label for="state" class="form-label">State:</label>
          <input type="text" class="form-control" id="state" ng-model="state" />
        </div>
        <div class="col-sm-3">
          <label for="pin" class="form-label">Pin:</label>
          <input type="text" class="form-control" id="pin" ng-model="pin" />
        </div>
        <div class="col-sm-2">
          <label for="country" class="form-label">Country:</label>
          <input
            type="text"
            class="form-control"
            id="country"
            value="India"
            disabled
            readonly
          />
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-sm-12 d-grid gap-2">
        <button
          class="btn btn-primary"
          type="button"
          style="background: #007291; height: 3rem"
          ng-click="ptregister()"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>
